* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.App {
  height: 100vh;
  background-image: linear-gradient(to top right, #aa49de, #0cebe7);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px
}
